{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="Smarthr - Bootstrap Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
        <title>OTP - HRMS admin template</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'myapp\assets\img\favicon.png' %}">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'myapp\assets\css\bootstrap.min.css' %}">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'myapp\assets\css\font-awesome.min.css' %}">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'myapp\assets\css\style.css' %}">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
    </head>
    <body class="account-page">
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
			<div class="account-content">
				<a class="btn btn-primary apply-btn">
					<script>
					function startTimer(duration, display) {
						var timer = duration, minutes, seconds;
						setInterval(function () {
							minutes = parseInt(timer / 60, 10);
							seconds = parseInt(timer % 60, 10);
					
							minutes = minutes < 10 ? "0" + minutes : minutes;
							seconds = seconds < 10 ? "0" + seconds : seconds;
					
							display.textContent = minutes + ":" + seconds;
					
							if (minutes==="00" && seconds==="00"){
							// return render(request,"myapp/hr_forgot_password.html")
								window.location="{% url 'hr_forgot_password' %}";
							}
					
							if (--timer < 0) {
								timer = duration;
							}
						}, 1000);
					}
					window.onload = function () {
						var fiveMinutes = 60 * 2,
						display = document.querySelector('#time');
						startTimer(fiveMinutes, display);
					};
				</script>
				
					
				
					
						
				
				<body>
						<div>Time Remaining: <span id="time">02:00</span> </div>
				</body>
				</a>
				<div class="container">
				
					<!-- Account Logo -->
					<div class="account-logo">
						<a href="index.html"><img src="{% static 'myapp\assets\img\logo2.png' %}" alt="Dreamguy's Technologies"></a>
					</div>
					<!-- /Account Logo -->
					
					<div class="account-box">
						<div class="account-wrapper">
							<h3 class="account-title">OTP</h3>
							<p class="account-subtitle">Verification your account</p>
							
							<!-- Account Form -->
							<form action="{% url 'hr_otp_evalute' %}" method="POST">
									{% csrf_token %}

									{% if msg %}
									<div class="alert alert-primary" role="alert">
										{{msg}}
									</div>
									{% endif %}
								<div class="otp-wrap">
										<input type="text" name="email" placeholder="0" maxlength="1" class="otp-input" value="{{email}}">
									<input type="text" name="otp1" placeholder="0" maxlength="1" class="otp-input">
									<input type="text" name="otp2" placeholder="0" maxlength="1" class="otp-input">
									<input type="text" name="otp3" placeholder="0" maxlength="1" class="otp-input">
									<input type="text" name="otp4" placeholder="0" maxlength="1" class="otp-input">
								</div>
								<div class="form-group text-center">
									<button class="btn btn-primary account-btn" type="submit">Enter</button>
								</div>
								<!-- <div class="account-footer">
									<p>Not yet received? <a href="javascript:void(0);" >Resend OTP</a></p>
								</div> -->
							</form>

							<!-- /Account Form -->
							

							<!-- Account Form -->
							<form action="{% url 'resend_otp' %}" method="POST">
									{% csrf_token %}

									{% if msg3 %}
									<div class="alert alert-primary" role="alert">
										{{msg3}}
									</div>
									{% endif %}

									{% if msg2 %}
									<div class="alert alert-success" role="alert">
										{{msg2}}
									</div>
									{% endif %}
								<div class="otp-wrap">
										<input type="hidden" name="email" placeholder="0" maxlength="1" class="otp-input" value="{{email}}">
								</div>
								<div class="form-group text-center">
									<button class="btn btn-primary account-btn" type="submit">Resend OTP</button>
								</div>
								<!-- <div class="account-footer">
									<p>Not yet received? <a href="javascript:void(0);" >Resend OTP</a></p>
								</div> -->
							</form>

						</div>
					</div>
				</div>
			</div>
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="{% static 'myapp\assets\js\jquery-3.2.1.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="{% static 'myapp\assets\js\popper.min.js' %}"></script>
        <script src="{% static 'myapp\assets\js\bootstrap.min.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static 'myapp\assets\js\app.js' %}"></script>
		
    </body>
</html>